*,
::after,
::before {
  box-sizing: border-box;
}

div {
  display: block;
}

body {
  margin-left: 0;
  margin-right: 0;
}

.about_us {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  width: 100%;
  margin: auto auto;
}

.introduce_about_us {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 150px 0;
  z-index: 0;
}

.bg_1 {
  background-image: url(./img/bradcam.png.webp);
}

.introduce_text h3 {
  text-align: center;
  font-size: 80px;
  color: #fff;
  margin-top: 0px;
  line-height: 90px;
  font-family: "Nothing You Could Do", cursive;
  font-weight: 500px;
  text-transform: capitalize;
}

.introduce_text p {
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
}

.about_us_heading h3 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 40px;
}

.about_us_info {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.story_info {
  margin-bottom: 40px;
}

.story_info p {
  font-size: 20px;
}

.story_us {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
}

.col_info {
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}

.story_img {
  margin: auto;
  margin-bottom: 40px;
  padding-left: 70px;
}

.col_left {
  flex: 0 0 40%;
  max-width: 40%;
  padding-right: 40px;
}

.col_right {
  flex: 0 0 55%;
  max-width: 55%;
}

.col_left img {
  width: 100%;
  height: 283px;
}

.col_right img {
  width: 100%;
  height: 283px;
}

.counter {
  padding-left: 15px;
  padding-right: 15px;
}

.counter_col {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  text-align: center;
}

.counter_col h3 {
  color: red;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 10px;
}

.footer_line {
  border-top: 1px solid #acacac;
  padding-top: 15px;
  margin-left: 25%;
  margin-right: 25%;
}

.col_addR {
  position: inherit;
  width: 100%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.counter_col p {
  color: #7a838b;
  font-size: 20px;
}
